# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include fluidd.cfg]

[include macros.cfg]

[include pi4.cfg]

#[include adxl.cfg]

[exclude_object]

[include shell_command.cfg]

[include KAMP_Settings.cfg]

[include stealthburner_leds.cfg]

[include timelapse.cfg]

[include expander.cfg]

[display_status]

[pause_resume]

[mcu]
serial: /dev/serial0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 10
max_z_accel: 1000

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: -1
position_min: -1
position_max: 272
homing_speed: 85

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.640
#stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -13
position_min: -13
position_max: 221
homing_speed: 85

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.640
#stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree 
endstop_pin: probe:z_virtual_endstop           #enable to use bltouch
#endstop_pin: ^PC2
#position_endstop: 0.0
position_min: -10
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.500
stealthchop_threshold: 999999

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 22.704
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: Generic 3950
#sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
pressure_advance_smooth_time: 0.04
pressure_advance: 0.03
max_extrude_cross_section: 10

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.566
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC6

[fan]
pin: PC7

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[heater_fan heatbreak_cooling_fan]
pin: PC6
max_power: 0.65
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

#[output_pin nevermore]
#pin: !PC13
#value: 0
#shutdown_value: 0

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -49.0
y_offset: -10.0
#z_offset: 0.0
speed: 300        #Toolhead travel speed
sample_retract_dist=5
stow_on_each_sample = false #high speed for bltoch,
samples_result: average 
samples: 3
speed: 10            # Z probing speed
lift_speed: 50
#probe_with_touch_mode = true
samples_tolerance: 0.008
samples_tolerance_retries: 3

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 223, 211
probe_count: 10,10
mesh_pps: 3,3
#split_delta_z: 0.01
#move_check_distance: 3.0 #this in conjunction with the line above
adaptive_margin: 5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 47.4
shaper_type_y = ei
shaper_freq_y = 45.1 #48.0

[bed_screws]
screw1: 32, 35
screw2: 203, 35
screw3: 203, 202
screw4: 35, 202

[screws_tilt_adjust]
screw1: 81,45
screw1_name: front left screw 
screw2: 252,45
screw2_name: front right screw
screw3: 252,212
screw3_name: back right screw
screw4: 81,212
screw4_name: back left screw
horizontal_move_z: 5
speed: 300
screw_thread: CW-M4

[static_digital_output usb_pullup_enable]
pins: !PA14

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PC15

[safe_z_home]
home_xy_position:162.5,127.5
speed: 300
z_hop: 10
z_hop_speed: 10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>
# See the sample-lcd.cfg file for definitions of common LCD displays.

[firmware_retraction]
retract_length: 0.6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[idle_timeout] 
timeout: 1800
gcode:
    {% if printer.pause_resume.is_paused %}
        M118 Bypassed Timeout
        M117 Bypassed Timeout
    {% else %}
        M118 Timeout Reached
        M117 Timeout Reached
        TURN_OFF_HEATERS
        M84
    {% endif %}

[force_move]
enable_force_move: True

[temperature_sensor chamber]
sensor_type: BME280
min_temp: 0
max_temp: 80
i2c_address: 119
#   Default is 118 (0x76). The BMP180, #BMP388 and some BME280 sensors
#   have an address of 119 (0x77).
i2c_mcu: pi4
#   The name of the micro-controller that the chip is connected to.
#   The default is "mcu".
i2c_bus: i2c.1
#   If the micro-controller supports multiple I2C busses then one may
#   specify the micro-controller bus name here. The default depends on
#   the type of micro-controller.
#i2c_software_scl_pin:
#i2c_software_sda_pin:
#   Specify these parameters to use micro-controller software based
#   I2C "bit-banging" support. The two parameters should the two pins
#   on the micro-controller to use for the scl and sda wires. The
#   default is to use hardware based I2C support as specified by the
#   i2c_bus parameter.
#i2c_speed:
#   The I2C speed (in Hz) to use when communicating with the device.
#   The Klipper implementation on most micro-controllers is hard-coded
#   to 100000 and changing this value has no effect. The default is
#   100000. Linux, RP2040 and ATmega support 400000.
gcode_id:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.945
#*# pid_ki = 5.845
#*# pid_kd = 55.265
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.509
#*# pid_ki = 1.511
#*# pid_kd = 870.109
#*#
#*# [bltouch]
#*# z_offset = 3.387
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.127500, 0.112500, 0.107500, 0.132500, 0.142500, 0.100000, 0.130000, 0.085000, 0.085000, 0.147500
#*# 	0.095000, 0.062500, 0.062500, 0.110000, 0.127500, 0.105000, 0.130000, 0.100000, 0.070000, 0.117500
#*# 	0.080000, 0.070000, 0.060000, 0.092500, 0.115000, 0.090000, 0.120000, 0.075000, 0.052500, 0.085000
#*# 	0.067500, 0.080000, 0.072500, 0.082500, 0.102500, 0.092500, 0.117500, 0.085000, 0.080000, 0.112500
#*# 	0.035000, 0.045000, 0.030000, 0.060000, 0.085000, 0.055000, 0.095000, 0.062500, 0.065000, 0.075000
#*# 	0.070000, 0.062500, 0.047500, 0.062500, 0.067500, 0.080000, 0.100000, 0.065000, 0.062500, 0.067500
#*# 	0.062500, 0.057500, 0.042500, 0.047500, 0.072500, 0.067500, 0.105000, 0.055000, 0.070000, 0.070000
#*# 	0.060000, 0.057500, 0.057500, 0.087500, 0.107500, 0.080000, 0.112500, 0.117500, 0.100000, 0.137500
#*# 	0.070000, 0.067500, 0.072500, 0.080000, 0.090000, 0.087500, 0.127500, 0.077500, 0.090000, 0.142500
#*# 	0.057500, 0.045000, 0.047500, 0.085000, 0.092500, 0.102500, 0.120000, 0.067500, 0.072500, 0.127500
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 222.94
#*# min_y = 10.0
#*# max_y = 210.96999999999997
